.main-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  padding-bottom: 10px;
  margin-top: 100px;
}

.typewriter {
  overflow: hidden; 
  border-right: .15em solid white; 
  white-space: nowrap; 
  margin: 0 auto; 
  margin-left: 50px;
  letter-spacing: .1em; 
  // width: 15ch; 
  text-align: left; 
  animation: typing 2.5s steps(40, end), blink-caret .75s step-end infinite;
  margin-top: 100px;
  font-size: 9.9em;
  line-height: 1.1;
  margin-top: -150px;  
  display: inline-block; /* Ensures the width adjusts based on content */
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% } /* Match the width of the container */
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white; }
}

